<h1>Servicio de reserva</h1>
<div class="caurosel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active " >
            <img class="imagenes" src="../../../assets/Images/Image1.jpg">
          </div>
          <div class="carousel-item">
            <img class="imagenes" src="../../../assets/Images/Image2.jpg">
          </div>
          <div class="carousel-item">
            <img class="imagenes" src="../../../assets/Images/Image3.jpg">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
        
      <div>
        <p>
          El 18 de mayo de 1996 la Fundación X Prize abrió la competición para crear vuelos espaciales turísticos al ofrecer el Premio Ansari X Prize con 10 millones de dólares en metálico a quien pudiera diseñar un aparato que llevara a tres tripulantes a más de 100 km de la Tierra dos veces en menos de quince días.1​


El SpaceShipOne subió hasta 112 km y descendió hasta la pista de su base en Scaled Composites.
El 29 de septiembre de 2004 Mike Melvill lograba ascender a 103 km de altura con el SpaceShipOne y el avión que transportaba y hacía de módulo de aterrizaje, el White Knight; ambos construidos por al empresa Mojave Aerospace Ventures. El 4 de octubre de 2004 el piloto Brian Binnie despegaba del desierto de Mojave, en California, poco antes de las 7:00 y alcanzaba los 112 km de altura una hora después, obteniendo el nuevo récord mundial. Poco después comenzaba el descenso en espiral hasta lograr aterrizar en la pista de la que había despegado. De esta forma obtenía el ansiado premio y comenzaba la carrera para los vuelos espaciales tripulados.

Vuelos como el del SpaceShipOne tienen como limitaciones frente a los realizados a la ISS que son mucho más cortos (poco más de una hora) y son suborbitales, por lo que no se puede contemplar todo el planeta desde el espacio. Pese a todo, estos vuelos tripulados por un piloto y dos pasajeros serán, según Peter H. Diamandis, los primeros embriones del auténtico turismo espacial por dos razones:

Se pueden realizar de forma rutinaria, y no esperando a plazas libres en las cápsulas rusas.
Están abiertos al gran público, porque la tecnología que utilizan puede ser comercializada sin restricciones, al contrario que la empleada por rusos y estadounidenses.
Además del de la empresa de Mojave, otros 24 proyectos pujaban por conseguir el premio y también por llegar a comercializar su tecnología. La mayoría eran grupos de aficionados o estudiantes, que algunas veces estaban capitaneadas por un ingeniero espacial o aeronáutico. De ellas se puede destacar los proyectos Arrow, de la canadiense Canadian Arrow, el argentino Gauchito de Pablo Leon & Associates, el ruso C-21 de Suborvital Co o el rumano Orizont de la ARCA.
  </p>
      </div>
        <div class="boton-reserva">
        <button type="button" class="btn btn-primary" routerLink="/signin">Reservar</button>
      </div>
</div>
